POSTGRES_USER=taskify
POSTGRES_PASSWORD=taskify
POSTGRES_DB=taskify
POSTGRES_HOST=db

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_IDS=
TELEGRAM_BOT_GATEWAY_API_KEY=change-me
TELEGRAM_METRICS_DISK_PATH=/hostfs

TELEGRAM_ALERTS_ENABLED=true
TELEGRAM_BOT_GATEWAY_URL=http://telegram-bot:8082/api/v1/notify
TELEGRAM_REQUEST_TIMEOUT_SECONDS=5
INTERNAL_ALERTS_API_KEY=change-me
