# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.env.*
!.env.example
venv/
.venv/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
*.log

# Database
postgres_data/
pgadmin_data/
